@CHARSET "UTF-8";

table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
}

th {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png),
		linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
	font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}

.footer {
	bottom: 0;
	color: #ffffff;
	height: 2em;
	left: 0;
	position: relative;
	width: 100%;
}

.thefooter {
	color: #ffffff;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-position: center center;
}

body {
	background-image: url("facecar.jpg");
	background-position: center center;
	font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
}

.face {
	background-image: url("facecar.jpg");
	background-position: center center;
}

.button {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png),
		linear-gradient(#777, #444);
	text-align: center;
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
	font-weight: bold;
	padding: 15px 250px;
	position: relative;
	text-shadow: 0 1px 0 #000;
	width: 100%;
}

.home_button {
	height: 50px;
	width: 120px;
	margin-right: 5px;
	display: inline;
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png),
		linear-gradient(#777, #444);
	text-align: center;
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
	font-weight: bold;
	/*padding: 15px 40px;*/
}

.home_button:active {
	transform: translateY(4px);
}

.button:hover {
	background-color: #9400D3;
}

.button:active {
	background-color: #9400D3;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.space {
	height: 15px;
}

.topspace {
	height: 150px;
}

.greetings {
	color: #fff;
	text-align: center;
}

.error_message {
	text-align: center;
}

.page_title, .error_message {
	color: #fff;
}