<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">


<h:head>

</h:head>
<h:body>

    <ui:composition template="templates/layout.xhtml">

        <ui:define name="content">
            <ui:param name="ctrl" value="#{logInController}"/>

            <h1 align="center" class="page_title">WELCOME TO SERVICE STATION</h1>

            <c:if test="${'fail' eq param.auth}">
                <div style="color:red">
                    Login Failed!!!<br/>
                    Reason : Bad Credentials!Please Try Again.
                </div>
            </c:if>

            <div align="center" style="vertical-align: top">
                <h:panelGrid id="loginPanelGrid" width="10%">

                    <h:form id="login">
                        <p:growl id="message"/>
                        <p>
                            <h:outputLabel for="j_username" value="Login"/>
                            <p:inputText id="j_username" size="30" maxlength="30"
                                         value="#{ctrl.username}" required="true"
                                         requiredMessage="UserName is required"/>
                            <h:message for="j_username" style="color: red"/>
                        </p>
                        <p>
                            <h:outputLabel for="j_password" value="Password"/>
                            <p:inputText id="j_password" type="password" size="30"
                                         maxlength="30" value="#{ctrl.password}" required="true"
                                         requiredMessage="Password is required"/>
                            <h:message for="j_password" style="color: red"/>

                        </p>
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                        <p:commandButton id="proceed" type="submit" action="#{ctrl.login}" align="center" value="login"
                                         ajax="false" update="login:message"/>
                    </h:form>
                </h:panelGrid>
            </div>
        </ui:define>
    </ui:composition>
</h:body>

</html>